body {
  height: 100%;
  margin: 0;
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div {
  text-align: center;
}
ul {
  display: table;
  margin: 0 auto;
}
